/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.modal-backdrop {
    opacity: 0 !important;
}

@media screen and (max-width: 780px) {
    .card-img-top {
        height: 40vw!important;
    }
}

.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
}

    .card:hover {
        transform: scale(1.03);
    }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.table-secondary {
    color: #fff;
    background-color: #cc5417;
    border-color: #cc5417;
}

.btn-secondary {
    color: #fff;
    background-color: #8f442b;
    border-color: #62453b;
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #75402e;
        border-color: #62453b;
    }

.btn-primary {
    color: #fff;
    background-color: #cc5417;
    border-color: #cc5417;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #b5470f;
        border-color: #b5470f;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
