
<div class="text-center">
    <h1>Pedido finalizado</h1>
    <h5>Número do pedido: #@ViewData["pedido"].ToString()</h5>
    <img src="~/img/coffee-break.png" class="img-fluid m-3" style="height:200px"/>
    <p>Seu café está sendo preparado e logo será entregue no seu endereço.</p>
</div>