@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-5" style="background-color:#8f442b ">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-4 text-center">
            <h1 class="display-4">
                Bem vindo!
            </h1>
            <p class="lead">
                Peça seu café no Cruzeiro do Sul Café sem nem precisar parar de estudar.
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="img-fluid" src="~/img/coffee-break (1).png" style="height:300px" />
        </div>
    </div>
</div>